# Exercises - numpy Methods

---

### Q1. Create any 2 similar dimensional numpy arrays, preferrable 4 x 5 and perform element-wise sum of the 2 numpy arrays?

### Q2. Create this numpy array -> [1 2 3 4 5 6 ], reshape it to 2 x 3 and scalar multiply each element of this reshaped array with 7

### Q3. Convert a 1-D array to a 3-D array

### Q4. Refer the documentation and create an example using np.hstack( ) method

### Q5. Refer the documentation and create an example using np.vstack( ) method

### Q6. Given 2 numpy arrays as matrices, output the result of multiplying the 2 matrices (as a numpy array)
    a = np.array([[1,2,3],
                  [4,5,6],
                  [7,8,9]])

    b = np.array([[2,3,4],
                  [5,6,7],
                  [8,9,10]])

### Q7. Write a NumPy program to reverse an array (first element becomes last). 
- Original array:
[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
- Reverse array:
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4, 3,  2,  1]

### Q8. Create a NumPy array and convert it to a float type.

### Q9. Using np.full( ), create a 4 x 5 numpy array with each value of the numpy array being 47 and convert it into float type

### Q10. Create any 3d numpy array and find a) minimum value b) maximum value c) index of minimum value d) index of maximum value e) create copy of the array using copy method