# Solutions: numpy Indexing

### Q1. Find the values of x [ 0 ],  x [ 0 , 3 ], x [ 0 ][ 3 ], x [ 3 , 2 ] from the given numpy 'x' below and note your observations

In [1]:
import numpy as np
np.random.seed(123)
x = np.random.randint(1,10,10).reshape(2,5)

In [10]:
print(x) 
print()
print(x[0], x[0].shape) #gives column matrix with shape 5 x 1
print()
print(x[0,3]) #gives 1 element present at 0th index row and 3rd index column
print()
print(x[0][3]) #x[0,3] == x[0][3]

[[3 3 7 2 4]
 [7 2 1 2 1]]

[3 3 7 2 4] (5,)

2

2

In [11]:
print(x[3,2]) #results in 'out of bounds' error as there is no row with 3rd index

IndexError: ignored

### Q2. Find the values of y[[0,2,3,4]] from the code below and interpret the results in your own words

In [13]:
np.random.seed(123)
y = np.random.randint(1,10,10)
print(y)
print()
print(y[[0,2,3,4]]) #provides numpy array with values at respective indices provided as list

[3 3 7 2 4 7 2 1 2 1]

[3 7 2 4]

### Q3. Follow the numpy array 'z' shown below and print the following:
1. z
2. z[0]
3. z[1]
4. z[2]
5. z[1,2]
6. z[0,2]
7. z[0,0]
8. z[1:3]
9. z[::-1]
10. Assign z[1::2,::2] = 1 and print z

- Interpret the results using comments in your own words

In [22]:
z = np.arange(1,28).reshape(3,3,3)
print('1. z')
print(z)
print()

print('2. z[0]')
print(z[0])
print()

print('3. z[1]')
print(z[1])
print()

print('4. z[2]')
print(z[2])
print()

print('5. z[1,2]')
print(z[1,2])

1. z
[[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[19 20 21]
  [22 23 24]
  [25 26 27]]]

2. z[0]
[[1 2 3]
 [4 5 6]
 [7 8 9]]

3. z[1]
[[10 11 12]
 [13 14 15]
 [16 17 18]]

4. z[2]
[[19 20 21]
 [22 23 24]
 [25 26 27]]

5. z[1,2]
[16 17 18]

In [25]:
print('6. z[0,2]')
print(z[0,2])
print()

print('7. z[0,0]')
print(z[0,0])
print()

print('8. z[1,3]')
print('out of bounds error')
# print(z[1,3]) #results in 'out of bounds' error
print()

print('9. z[::-1]')
print(z[::-1]) #results in reverse order

6. z[0,2]
[7 8 9]

7. z[0,0]
[1 2 3]

8. z[1,3]
out of bounds error

9. z[::-1]
[[[19 20 21]
  [22 23 24]
  [25 26 27]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]

 [[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]]

### Q4. Refer documentation and learn about np.pad() method and do the following:
1. Create a 3 x 3 ones numpy array
2. Add a border (filled with 0's) around this 3 x 3 ones array
- Expected Result:


![assn2.png]()

In [39]:
x = np.ones((3,3))
print(x)
print("0 on the border and 1 inside in the array")
x = np.pad(x, pad_width=1, mode='constant', constant_values=0)
print(x)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
0 on the border and 1 inside in the array
[[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

### Q5. Create a NumPy array [1 2 3 4 5 6] and find the indices of the maximum and minimum values along the given axis of an array

In [38]:
x = np.array([1,2,3,4,5,6])
print(x.argmin())
print(x.argmax())

0
5

### Q6. Find the 4th element of the below array by writing a numpy program:
[[ 2  4  6]                                                            
 [ 6  8 10]]

In [35]:
np.array([[2,4,6],[6,8,10]])[1,0]

6

### Q7. Create the below numpy array, assign it to variable x and print x[[0,1,2],[0,1,3]] and interpret the results
[[ 0  1  2  3]

 [ 4  5  6  7]


 [ 8  9 10 11]

 [12 13 14 15]]

In [32]:
x = np.arange(0,16).reshape(4,4)
print(x)
print()
print(x[[0,1,2],[0,1,3]]) 
#0th index row 0th index column -> 0
#1st index row 1st index column -> 5
#2nd index row 3rd index column -> 11

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

[ 0  5 11]

### Q8. Refer documention on np.where() method and solve the following problem:
- Get the positions where elements of a and b match

Input:

> a = np.array([1,2,3,2,3,4,3,4,5,6])

> b = np.array([7,2,10,2,7,4,9,4,9,8])

Expected Output:

> array([1, 3, 5, 7])

In [30]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
print(np.where(a==b))

(array([1, 3, 5, 7]),)

### Q9. Create a 8 x 8 numpy array with the following pattern:
> [[0 1 0 1 0 1 0 1]                                                      
 [1 0 1 0 1 0 1 0]                                                      
 [0 1 0 1 0 1 0 1]                                                      
 [1 0 1 0 1 0 1 0]                                                      
 [0 1 0 1 0 1 0 1]                                                      
 [1 0 1 0 1 0 1 0]                                                      
 [0 1 0 1 0 1 0 1]                                                      
 [1 0 1 0 1 0 1 0]]

In [29]:
x = np.zeros((8,8),dtype=int)
x[1::2,::2] = 1
x[::2,1::2] = 1
print(x)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

### Q10. Write a NumPy program to create a 2d array with 1 on the border and 0 inside as shown below
![assn.png]()

In [28]:
x = np.ones((5,5))
print(x)
print()
x[1:-1,1:-1] = 0
print(x)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]